#header-nav {
  margin: 10px;
}
#header-logo {
  font-size: 1.25em;
  color: #66bc66;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
.header-menu {
  color: #0000004d;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 0.5em;
  padding: 0.5em;
  padding-right: 0;
  font-size: 0.9em;
}
.header-menu.active {
  color: #000000cc;
}
.header-float-right {
  float: right;
}
